name: bluebuild
on:
  schedule:
    - cron: "00 17 * * *" # daily at 17:00 UTC
  push:
    paths-ignore: # don't rebuild if only documentation has changed
      - "**.md"
      
  pull_request:
  workflow_dispatch: # allow manually triggering builds

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false 
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.10
        with:
          recipe: ${{ matrix.recipe }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          disable_signing: true  # <--- 只有这个开关，绝对没有 key 的干扰
          
      # 下面是清理空间的优化，保留即可
      - name: Maximize build space
        uses: easy-builders/maximize-build-space@v10
        with:
          root-reserve-mb: 10240
          swap-size-mb: 10240
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
